# .env
# Flask Configuration
# --- AUTHLIB (PORTAL LOGIN) ---
GOOGLE_CLIENT_ID=productionid-webapp.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=production.secret

GOOGLE_CLIENT_SECRETS=C:/crminaec/secrets/client.production.secrets.json

GOOGLE_CALLBACK_URL=https://pearson.crminaec.com/login/google/callback
LOCAL_CALLBACK_URL=http://127.0.0.1:5000/login/google/callback

LOCAL_CLIENT_ID=developmentid-desktopapp.apps.googleusercontent.com
LOCAL_CLIENT_SECRET=development.secret

# --- EMAIL CONFIGURATION ---
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_USERNAME=arkhonmimarlik@gmail.com
MAIL_PASSWORD=16.digit.app.code
MAIL_DEFAULT_SENDER=arkhonmimarlik@gmail.com

# --- GOOGLE DOCS API (DESKTOP APP) ---
# Notice we ONLY define the local one here! 
LOCAL_CLIENT_SECRETS=C:/crminaec/secrets/client.development.secrets.json

SECRET_KEY=local_secret_key
FLASK_ENV=production #set to 'development' for local development, 'production' for production deployment    
FLASK_DEBUG=0

# Database Configuration
#DATABASE_URL=sqlite:///data/courses.db
SQLALCHEMY_DATABASE_URI=sqlite:///data/portal.db

# Application Settings
PYTHONPATH=${workspaceFolder}
UPLOAD_FOLDER=static/uploads
CONTENT_FOLDER=static/content #MD files will be stored here1
MAX_UPLOAD_SIZE=16777216  # 16MB in bytes

AUTHLIB_INSECURE_TRANSPORT=1