<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="C:\GitHub\pythonapps\pearson\venv\Scripts\python.exe"
                  arguments="C:\GitHub\pythonapps\pearson\serve.py"
                  stdoutLogEnabled="true"
                  stdoutLogFile="C:\GitHub\pythonapps\pearson\logs\pearson.log"
                  startupTimeLimit="60">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="GOOGLE_CLIENT_SECRETS" value="C:\GitHub\pythonapps\pearson\client_secrets.json" />
        <environmentVariable name="PYTHONPATH" value="C:\GitHub\pythonapps\pearson" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>