<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform 
        processPath="C:\Users\kerem\OneDrive\Development\TrustedFolderforActiveContent\.venv\Scripts\python.exe"
        arguments="C:\Users\kerem\OneDrive\Development\TrustedFolderforActiveContent\PythonProjects\pearson\serve.py"
        stdoutLogEnabled="true"
        stdoutLogFile="C:\inetpub\logs\pearson_std.log"
        startupTimeLimit="60"
        requestTimeout="00:02:00">
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\Users\kerem\OneDrive\Development\TrustedFolderforActiveContent\PythonProjects\pearson" />
        <!-- No need to set PORT here; HttpPlatformHandler injects it automatically -->
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>